<launch>

  <env name="ROS_IP" value="192.168.1.33"/>
  <env name="ROS_HOSTNAME" value="192.168.1.33"/>
  <env name="ROS_MASTER_URI" value="http://192.168.1.145:11311"/>

  <node name="autopilot" pkg="asctec_autopilot" type="autopilot" respawn="false" required="true" output="screen">
    <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
    <param name="serial_speed" type="int" value="57600"/>
    <param name="freq" value="40.0"/>
  </node>

  <node name="asctec_proc" pkg="asctec_proc" type="asctec_proc" respawn="false" required="true" output="screen"/>

</launch>
