<launch>
  <rosparam>
    /hokuyo_node/min_ang: -2.0862138271331787
    /hokuyo_node/max_ang:  2.0923497676849365
  </rosparam>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
    <param name="frame_id" value="/laser"/>
    <param name="port" value="/dev/ttyACM0"/>
  </node>

</launch>
