<launch>

  <env name="ROS_IP" value="192.168.1.33"/>
  <env name="ROS_HOSTNAME" value="192.168.1.33"/>
  <env name="ROS_MASTER_URI" value="http://192.168.1.33:11311"/>

  <include file="$(find pelican_launch)/launch/autopilot.launch"/>

  <include file="$(find pelican_launch)/launch/hokuyo_240deg.launch"/>  

  <include file="$(find pelican_launch)/launch/laser_height.launch"/>

  <include file="$(find pelican_launch)/launch/pose_estimation.launch"/>

  <include file="$(find pelican_launch)/launch/pcm_scanmatcher.launch"/>

  <include file="$(find pelican_launch)/launch/usb_cam.launch"/>  

</launch>

