<launch>

  <include file="$(find pelican_launch)/launch/autopilot.launch"/>

  <include file="$(find pelican_launch)/launch/hokuyo_240deg.launch"/>  

  <include file="$(find pelican_launch)/launch/laser_height.launch"/>

  <include file="$(find pelican_launch)/launch/pose_estimation.launch"/>

  <include file="$(find pelican_launch)/launch/gmapping.launch"/>

</launch>

