<launch>

  <arg name="BAG_NAME" value="alltopics_2010-08-23-21-03-29"/>

  <param name="use_sim_time" value="true"/>

  <node pkg="rosbag" type="play" name="play" output="screen"
    args="$(env HOME)/ros/bags/$(arg BAG_NAME).bag -d 10 --clock"/>

  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find pelican_launch)/launch/pelican.vcg"/>
 
  <include file="$(find pelican_launch)/launch/gmapping.launch"/>

</launch>
