<launch>
  <node name="pose_estimation" pkg="pose_estimation" type="pose_estimation" respawn="false" required="true" output="screen">

    <param name="world_frame" to="test"/>
    <param name="freq" value="40.0"/>

    <remap from="imu" to="asctec_proc/imu"/>
    <remap from="height" to="/right_floor_altimeter/height"/>

  </node>
</launch>

