<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
   args="0.10 0.00 -0.03 1.571 0 0 /base_link /camera 20" />

  <node pkg="usb_cam" type="usb_cam_node" name="camera" respawn="false" output="screen">
    <param name="video_device" value="/dev/video0"/>
    <param name="io_method" value="mmap"/>
    <param name="image_width" value="320"/>
    <param name="image_height" value="240"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_info_url" value="auto"/>
  </node>
</launch>
