<launch>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
   args="0.00  0.00  0.07  0.0  0.0  0.0 /base_link /laser 20" />

  ####################################################################

  <node pkg="tf" type="static_transform_publisher" name="rvl_pub" 
   args=" 0.00 -0.07  0.07  2.740506 -0.400407  1.571017 /laser /rvl 20" />

  ####################################################################

  <node pkg="tf" type="static_transform_publisher" name="lvl_pub" 
   args=" 0.00  0.07  0.07 -2.740506 -0.400407 -1.571017 /laser /lvl 20" />

  ####################################################################

  <node pkg="laser_scan_splitter" type="laser_scan_splitter" name="splitter" output="screen">
    <param name="sizes"  type="string" value="20 8 512"/>
    <param name="topics" type="string" value="rvs m2 mvs"/>
    <param name="frames" type="string" value="/rvl /laser /laser"/>
  </node>

  ####################################################################

  <node pkg="laser_height_estimation" type="laser_height_estimation" name="right_floor_altimeter" output="screen">
    <param name="base_frame" value="/base_link"/>
    <param name="world_frame" value="/odom"/>
    <param name="max_height_jump" value="0.25"/>
    <param name="use_kf" type="bool" value="false"/>

    <remap from="/scan"            to="/splitter/rvs"/>
    <remap from="/imu"             to="/asctec_proc/imu"/>
    <remap from="/pressure_height" to="/asctec_proc/pressure_height_filtered"/>
  </node>

</launch>
