<launch>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_0"
   args="0.000  0.000  0.130 -1.570796327  0.000000000 -1.570796327 /base_link /camera_0 20" />

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_1"
   args="0.000  0.000  0.000  0.000000000  -0.040000000  0.000000000 /camera_0 /camera 20" />

  <node name="pgr_camera" pkg="pgr_camera" type="pgr_camera_node"
		respawn="false" output="screen">
		<param name="width" type="int" value="640" />
		<param name="height" type="int" value="480" />
		<param name="format" value="Y8" />
		<param name="frame_rate" type="int" value="5" />
		<param name="intrinsics_ini" type="str"
			value="$(find pgr_camera)/test_intrinsics.ini" />
		<param name="camera_name" type="str" value="pgr_camera" />
	</node>

</launch>
