<launch>

  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link" 
   args="0.00 0.00 0.20   0 0 0 /base_link /laser 20" />

  <rosparam>
    /hokuyo_node/min_ang: -2.356194
    /hokuyo_node/max_ang:  2.356194
  </rosparam>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
    <param name="frame_id" value="/laser"/>
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <node pkg="laser_scan_splitter" type="laser_scan_splitter" name="splitter" output="screen">
    <param name="sizes"  type="string" value="40 15 1025"/>
    <param name="topics" type="string" value="rvs m2 mvs"/>
    <param name="frames" type="string" value="/laser /laser /laser"/>
  </node>

</launch>
