<launch>
  <node name="autopilot" pkg="asctec_autopilot" type="autopilot" respawn="false" required="true" output="log">
    <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
    <param name="serial_speed" type="int" value="57600"/>
  </node>
  <node name="monitor" pkg="asctec_mon" type="monitor.py" respawn="false" required="true" output="screen">
    <param name="record_cmd" type="string" value="rosbag record -a -o foo"/>
    <param name="record_dir" type="string" value="~/ros/bags"/>
  </node>
</launch>
